<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <div style="text-align: center" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="from-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          id="email"
          class="form-control"
        />
      </div>
      <div class="from-group">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="form-control"
        />
      </div>
      <div class="from-group" style="margin-top: 10px">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ loginMode ? "Login" : "Signup" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch Mode to {{ loginMode ? "Signup" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
